{% extends 'base_hr.html' %}

{% block content %}

<h2 style="text-align:center;color:#2563eb;">HR Dashboard</h2>

<div style="display:flex;gap:20px;margin-top:30px;flex-wrap:wrap;">

<div style="flex:1;background:#eaf4ff;padding:25px;border-radius:10px;text-align:center;">
<h3>Total Resumes</h3>
<h1 style="color:#2563eb;">{{ total_resumes }}</h1>
</div>

<div style="flex:1;background:#eaf4ff;padding:25px;border-radius:10px;text-align:center;">
<h3>Shortlisted</h3>
<h1 style="color:#2563eb;">{{ shortlisted }}</h1>
</div>

<div style="flex:1;background:#eaf4ff;padding:25px;border-radius:10px;text-align:center;">
<h3>Jobs Posted</h3>
<h1 style="color:#2563eb;">{{ jobs_posted }}</h1>
</div>

</div>

{% endblock %}
